.article {
  padding: 2em;
  border-radius: 10px;
  padding-bottom: 2em;
  font-size: 1.8em;
  position: relative;
  background-color: rgba(0, 0, 0, 0.171);
  border: 2px solid #fff3;
  margin: 8em 3em;
  margin-bottom: calc(8em + 200px);
}

.article .article__content {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: var(--text);
}

.article__content hr {
  border: 2px solid var(--text);
  opacity: 0.15;
  width: 50%;
  margin-top: 1.5em;
}

.article__content h1 {
  font-family: "dangernight";
  margin-bottom: 0.8em;
  color: #4233ca; /* Green color for heading */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease; /* Smooth color transition */
}
.article__content h1:hover {
  color: #e34e0f; /* Darker shade of green on hover */
}

.article__content h1::after {
  content: ""; /* Add content after the heading */
  display: block; /* Display as block element */
  width: 0; /* Initial width of the pseudo-element */
  height: 2px; /* Height of the underline */
  background-color: #4CAF50; /* Color of the underline */
  transition: width 0.3s ease; /* Smooth width transition */
}

.article__content h1:hover::after {
  width: 100%; /* Expand the underline on hover */
}

.article__content h5 {
  margin-bottom: 0.7em;
  font-size: 0.9em;
  font-family: "coffeehealing";
}
.article__content p {
  margin-bottom: 1em;
  font-size: 0.75em;
  font-family: "coffeehealing";
}

.article__content ol {
  font-family: "coffeehealing";
  list-style: none;
  margin-top: 2em;
}

.article__content ol li::before {
  position: absolute;
  content: attr(l-index);
  font-weight: 900;
  display: inline;
  font-family: "dangernight";
  opacity: 0.4;
  top: 1rem;
  left: 1rem;
  font-size: 2em;
  transition: 0.2s ease;
}

.article__content ol li {
  position: relative;
  font-size: 0.95em;
  padding: 1em;
  border-radius: 10px;
  background: radial-gradient(#0004, #0005);
  border: 4px solid #2221;
  padding-top: 4em;
  font-size: 0.8em;
  margin-bottom: 2em;
  color: #fffe;
  transition: 0.2s ease;
}

.article__content ol li b {
  display: block;
  clear: both;
  margin-bottom: 0.4em;
}

/* Responsive ok  */

.okfee {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

@media screen and (max-width: 1200px) {
  .okfee {
    flex-direction: column;
  }
  .article {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 730px) {
  .article {
    margin: 8em 1em;
    margin-bottom: calc(6em + 200px);
    font-size: 1.4em;
    padding: 1.5em;
  }
  .article__content h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  .article {
    padding: 1em;
    font-size: 1.1em;
  }

  .article__content h3 {
    font-size: 1.1em;
  }
}